{% extends "main.php" %}
{% block title %}
<title>موصولة في ويكي بيانات غير مضافة لقاعدة البيانات</title>
{% endblock %}

{% set col_class = "col-md-4" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="card">
                <div class="card-header">
                    <span class="card-title mb-0 h4">
                        عناصر تستخدم خاصية:
                        <a href="https://www.wikidata.org/wiki/Property:P11038" target="_blank" class="text-primary">
                            مدخل معجمي في موقع الأنطولوجيا العربية
                        </a>
                        غير مطابقة في قاعدة البيانات
                    </span>
                </div>
                <div class="card-body">
                    <!-- <form method="get" action="{{ url_for('not_in_db') }}" class="form-inline mb-3 gap-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="limit" class="form-label">في الصفحة</label>
                                    <input type="number" id="limit" name="limit" class="form-control"
                                        placeholder="عدد النتائج" value="{{ limit }}">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary ms-3" type="submit"
                                    onclick1="applySettings()">بدء</button>
                            </div>
                        </div>
                    </form> -->
                    <div class="row">
                        <div class="col-md-12">
                            <table
                                class="table table-striped table-hover table-bordered table_responsive table_header_right">
                                <thead>
                                    <!-- { "lemma": "حَقّ", "item": "L1258248", "category": "Q1084", "categoryLabel": "اسم", "P11038_values": [ "3033140400" ] } -->
                                    <tr data-dt-order="disable">
                                        <th></th>
                                        <th colspan="3">ويكي بيانات</th>
                                        <th colspan="2">
                                            معرفات الأنطولوجيا
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>المدخل المعجمي</th>
                                        <th>معرف</th>
                                        <th>التصنيف المعجمي</th>
                                        <th>
                                            عدد المعرفات
                                        </th>
                                        <th>
                                            المعرفات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            {{ log.lemma }}
                                        </td>
                                        <td>
                                            {%if log.item %}
                                            <a href="https://www.wikidata.org/entity/{{log.item}}#P11038"
                                                target="_blank">
                                                {{log.item}}
                                            </a>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if log.category %}
                                            <a href="https://www.wikidata.org/entity/{{log.category}}"
                                                target="_blank">{{log.categoryLabel}}</a>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {{ log.P11038_values|length }}
                                        </td>
                                        <td>
                                            <div class="w-100">
                                                <div class="list-group list-group-horizontal">
                                                    {% for item in log.P11038_values %}
                                                    <div class="list-group-item m-1">
                                                        <a href="https://ontology.birzeit.edu/lemma/{{item}}"
                                                            target="_blank">
                                                            {{item}}
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
