{% extends "main.php" %}
{% block title %}
<title>الأنطولوجيا في ويكي بيانات</title>
{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="card shadow rounded-4">
        <div class="card-header">
            <h2>المفردات الموصولة بالأنطولوجيا العربية <a href="https://www.wikidata.org/wiki/Property:P11038"
                    target="_blank">(P11038)</a>
            </h2>
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                <a target="_blank" href="/P11038_wd" class="list-group-item list-group-item-action">
                    استخدام الخاصية في ويكي بيانات
                </a>
                <a target="_blank" href="/logs_new" class="list-group-item list-group-item-action">
                    تقرير الربط
                </a>
                <a target="_blank" href="/not_in_db" class="list-group-item list-group-item-action">
                    بيانات غير موصولة
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/js/lex/data.js"></script>
<script src="/static/js/table_filter2.js"></script>
<script src="/static/js/lex/lex_data.js"></script>
<script src="/static/js/lex/lex_example.js"></script>
<script src="/static/js/lex/lex.js"></script>
<script src="/static/js/lex/fetch.js"></script>
<script src="/static/js/lex/lex_page.js"></script>
<script>

    function setExample(lexeme) {
        document.getElementById('lexemeId').value = lexeme;
        start_lexeme(lexeme);
    }

    $(document).ready(function () {
        // if ?lex=324 in url then load it setExample
        const urlParams = new URLSearchParams(window.location.search);
        const lex = urlParams.get('wd_id');
        if (lex) {
            setExample(lex);
        }
        load_search(setExample, 'wd_id', 'autocomplete-results');
        // ---
        $("#P11038_table").DataTable({
            order: [
                [0, "asc"]
            ],
            pending: true,
            lang: "ar",
            paging: true,
            searching: true,
            pageLength: 100

        })
    });
</script>


{% endblock %}
