*.lnk
*.pyc
/python/html
python/auth.txt
**/old/**
python/src/insert_data/ar-Q13955-P11038-nopos.txt
ar-Q13955-P11038-nopos.txt
I--milion-arlexemes-python-new_logs-db.sql.gz
python/src/insert_data/Qabas-dataset_with_SAMA1.json
python/src/insert_data/Qabas-dataset_with_SAMA.json
/python/src/insert_data
/python/src/insert_data1
python/src/no_data_tab1.json
python/src/no_data_tab.json
/public_html/cache

/public_html/adminer
/public_html/cssx
/public_html/jsx
public_html/web.config
/public_html
python/src/static/js/duplicate_lemmas2.js
python/src/static/js/‏‏duplicate_lemmas - نسخة.js
python/src/logs/errors.log
