*.lnk
*.pyc
auth.txt
**/old/**
src/insert_data/ar-Q13955-P11038-nopos.txt
ar-Q13955-P11038-nopos.txt
I--milion-arlexemes-python-new_logs-db.sql.gz
src/insert_data/Qabas-dataset_with_SAMA1.json
src/insert_data/Qabas-dataset_with_SAMA.json
src/insert_data
src/insert_data1
src/no_data_tab1.json
src/no_data_tab.json
src/static/js/duplicate_lemmas2.js
src/static/js/‏‏duplicate_lemmas - نسخة.js
src/logs/errors.log
logs/errors.log
.claude/
.coverage
src/.env
