*.lnk
*.pyc
/public_html/cache
/python/html
python/auth.txt
**/old/**
python/src/insert_data/ar-Q13955-P11038-nopos.txt
ar-Q13955-P11038-nopos.txt
/public_html/adminer
I--milion-arlexemes-python-new_logs-db.sql.gz
python/src/insert_data/Qabas-dataset_with_SAMA1.json
python/src/insert_data/Qabas-dataset_with_SAMA.json
/python/src/insert_data
/python/src/insert_data1
