.highlighted-word {
    background-color: var(--highlight-color);
}

.hide-highlight {
    background-color: transparent !important;
}

.table_header_right,
.table_header_right>thead>tr>th {
    text-align: right !important;
}

.table_header_center,
.table_header_center>thead>tr>th {
    text-align: center !important;
}

.text_center {
    text-align: center !important;
}

a {
    text-decoration: none;
}

.autocomplete-container {
    position: relative;
    /* مهم لتموضع النتائج بشكل صحيح */
    width: 100%;
    /* أو أي عرض تريده */
    /* margin-top: 20px; */
}

.autocomplete-results {
    position: absolute;
    z-index: 1000;
    width: 80%;
    border: 1px solid #ced4da;
    border-top: none;
    /* background-color: white; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    border-radius: 0 0 .25rem .25rem;
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
    text-align: right;
    /* للمحتوى العربي */
}

.autocomplete-item:hover,
.autocomplete-item.selected {
    /* لإضافة تأثير عند التحديد بالكيبورد لاحقًا إذا أردت */
    background-color: #f0f0f0;
}

.autocomplete-item .description {
    font-size: 0.85em;
    color: #666;
}

.dir-rtl {
    direction: rtl;
}

:root[data-bs-theme="light"] {
    body {
        background-color: rgb(243, 244, 246);
        /* Ensure the iframe has a white background */
    }

    .autocomplete-results {
        background-color: white;
    }

}

.navbar-nav .nav-item.active {
    /* border-radius: 4px; */
    /* display: block; */
    background-color: #c2c5c8;
    /* font-weight: bold; */
}

:root[data-bs-theme="dark"] {
    .autocomplete-results {
        background-color: darkslategray;
    }

    .navbar-nav .nav-item.active {
        background-color: #3a3f44;
    }

    .navbar-nav .nav-item.active>a {
        color: #ffffff;
    }
}

:root[data-bs-theme="dark"] {
    canvas {
        filter: invert(1) hue-rotate(180deg);
        /* Inverts colors for a quick dark mode */
    }
}

:root[data-bs-theme="light"] {
    canvas {
        filter: invert(0) hue-rotate(0deg);
        /* Inverts colors for a quick dark mode */
    }
}
